/* Main Section Start's______________________________________________________ */

main {
    width: 100%;
    background-color: whitesmoke;
    padding: 20px 40px;
}




/* Information Section Start's_____________________________________________ */

.infoSect {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.info {
    width: 100%;
    padding: 20px 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* .info1 {} */

.info2 {
    border-inline: 1px solid grey;
}

/* .info3 {} */

.infoSvg svg {
    width: 40px;
    height: 40px;
    fill: rgb(0, 139, 185);
    transition: 0.2s;
}

.info:hover svg {
    transform: translateY(-3px);
}

.infoMsgDtl {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.infoMsg {
    color: gray;
    font-size: 14px;
}

.infoDetail {
    font-size: 18px;
    font-weight: 500;
}

/* Information Section Start's_____________________________________________ */




/* Cards Section Start's____________________________________________ */


.cardsContainer {
    width: 100%;
    margin: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 5px grey;
}

.card1 {
    background-color: #3eb8d7;
}


.card2 {
    background-color: #0392ce;
}


.card3 {
    background-color: #3065b5;
}


.cards {
    color: white;
    /* width: 325px; */
    width: 100%;
    height: 290px;
    padding: 30px 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

.cards span {
    font-size: 12px;
}

.cards .spanLorem {
    font-size: 14px;
}

.cards button {
    color: white;
    background-color: transparent;
    border: 1px solid cyan;
    padding: 10px 15px;
    cursor: not-allowed !important;
}

.timingsContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.actlTimings {
    width: 100%;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(123, 186, 250, 0.7);
}

/* .days {} */

/* .timings {} */

/* Cards Section End's____________________________________________ */



/* Media Queries Start's_________________________________________ */

@media screen and (max-width: 820px) {

    /* Cards Section Start's____________________________________________ */


    .cardsContainer {
        width: 100%;
        /* padding: 20px 20px; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cards {
        color: white;
        width: 100%;
        /* height: 310px; */
        padding: 30px 30px 10px 30px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
    }

}