/* Cards Section Start's____________________________________________ */


.cardsContainer {
    width: 100%;
    padding: 20px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card1 {
    background-color: #3eb8d7;
}


.card2 {
    background-color: #0392ce;
}


.card3 {
    background-color: #3065b5;
}


.cards {
    color: white;
    width: 325px;
    height: 310px;
    padding: 30px 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}

.cards span {
    font-size: 14px;
}

.cards button {
    color: white;
    background-color: transparent;
    border: 1px solid cyan;
    padding: 10px 15px;
    cursor: not-allowed !important;
}

/* .timingsContainer div {} */

/* .actlTimings {} */

/* Cards Section End's____________________________________________ */
