.onAppointmentPage::before {
    transform: scaleX(1) !important; 
}

.booking-section {
  padding: 60px 20px;
  display: flex;
  justify-content: center
}


.form-container {
  background: white;
  padding: 28px;
  border-radius: 10px;
  box-shadow: 0 6px 20px rgba(2, 6, 23, 0.06);
  max-width: 1000px;
  width: 95%
}



.form-group {
  margin-bottom: 14px
}

.form-group label {
  display: block;
  margin-bottom: 6px;
  font-weight: 600
}

.form-group input,
.form-group select,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #e2e8f0;
  border-radius: 6px
}



.confirmBtn {
    font-size: large;
    font-weight: 500;
    background-color: transparent;
    padding: 4px 15px 15px 15px;
    padding-bottom: 4px;
    border: 1px solid dodgerblue;
    border-radius: 20px;
    transition: all 0.2s;
}


.confirmBtn:hover {
    color: white;
    background-color: dodgerblue;
    border-color: transparent;
    transform: scale(1.1);
}

.confirmBtn:focus {
    transform: scale(1);
}